main {
    background-color: #f5f5f5;
    height: 75vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
 form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  label {
    font-size: 1.2em;
    padding: 0.5vh;
  }
  input[type=text] {
    border: none;
    border-radius: 1vh;
    padding: 2vh 5vh;
  }
  input[type=radio] {
    background-color: #616965;
    border: none;
    color: white;
    text-decoration: none;
    margin: 1vw;
    cursor: pointer;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  input[type=submit] {
    background-color: #200f6b;
    padding: 1vh 2vh;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p {
    width: 100vw;
    height: 350vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    background-color: #cacccb;
    border-radius: 1vh;
  }
}